result/
src/tmp
ansible/hosts.yaml
credentials/
credentials-test/
ansible_docs/
src/AnsibleHelper.py
src/AnsibleTasks.py
.DS_Store
build/
ansible/roles/test
ansible/test_site.yml
venv/
__pycache__
tmp/
