altgraph==0.17.2
ansible==5.6.0
ansible-core==2.12.4
ansible-runner==2.2.1
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.1.1
colorama==0.4.5
crypto==1.4.1
cryptography==36.0.2
docutils==0.19
idna==3.3
Jinja2==3.1.1
lockfile==0.12.2
macholib==1.16
MarkupSafe==2.1.1
mysql-connector-python==8.0.30
Naked==0.1.31
packaging==21.3
pexpect==4.8.0
protobuf==3.20.1
ptyprocess==0.7.0
pycparser==2.21
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.7
python-daemon==2.3.1
PyYAML==6.0
requests==2.28.1
resolvelib==0.5.4
shellescape==3.8.1
six==1.16.0
tabulate==0.8.10
urllib3==1.26.12
